
    
:root {
  /* background-color: #ecf5ff; */
  font-size: 62.5%;
  /* background:url('GOT5.jpg') no-repeat center center fixed; */
  /* background-size: cover; */

}
body {
  background:url('gotwall.png') no-repeat center center fixed;
  background-size: cover;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 5.4rem;
  color: #56a5eb;
  margin-bottom: 5rem;
}

h1 > span {
  font-size: 2.4rem;
  font-weight: 500;
}

h2 {
  font-size: 4.2rem;
  margin-bottom: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 2.8rem;
  font-weight: 500;
}

/* UTILITIES */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  margin-top:50px;
  padding: 2rem;
  
}

.container > * {
  width: 100%;
}
.play {
  width:400px;
  margin-top:-100px;
}
.logo {
  width:950px;
}
.logo-container {
  display:flex;
  justify-content:center;
  align-items: center;
  text-align: center;
  margin:0 auto;
  margin-top:150px;
  flex-direction: column;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

/* BUTTONS */
.btn {
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 0.1rem solid #56a5eb;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #aaa;
  background-color: rgb(48, 48, 48);
  opacity:.7;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

/* FORMS */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-bottom: 1rem;
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

input::placeholder {
  color: #aaa;
}
#finalScore {
  font-size: 20rem;
  color:#0657BD;
}
.yourscore {
  /* color:#0657BD; */
  color:rgb(180, 180, 180);
  margin:0;
  padding:0;
  text-shadow: 1px 1px 6px rgb(0, 68, 255);
}
.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgb(86, 165, 235, 0.25);
  background-color: white;
  opacity: .5;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #3f3f3f;
  color: white;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
  opacity: .9;
  text-transform: uppercase;
}

.correct {
  background-color: #28a745;
}

.incorrect {
  background-color: #dc3545;
}

/* HUD */

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
  color:rgb(223, 223, 223);
}

.hud-main-text {
  text-align: center;
}

#progressBar {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid #0657BD;
  margin-top: 1.5rem;
}

#progressBarFull {
  height: 3.4rem;
  background-color: #0657BD;
  width: 0%;
}
#question {
    color:rgb(233, 233, 233);
    text-align: center;
    text-transform: uppercase;
    font-size:3rem;
}
#score {
    color:#0657BD;
}
@media only screen and (max-width: 768px) {
  body {
    background: url('gotdragon1.jpg') no-repeat center center fixed;
    background-position: center;
    background-size: cover;
  }
  .logo {
    width:450px;
  }
}